.App {
  text-align: center;
  padding: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 1.1s ease-in;

}
.btn{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
h1{
  color: rgb(113, 48, 48);
}

button {
  padding: 10px 10px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}
input {
  padding: 10px;
  margin: 40px;
  font-size: 16px;
  border: 3px solid #c62d2d;
  border-radius: 5px;
  width: 200px;
}
.btn1{
  margin-left:-2rem;
  border: 3px solid #c62d2d;
}

